//
//  Secret.xcconfig
//  MEGABOX
//
//  Created by 정승윤 on 11/8/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
KAKAO_NATIVE_APP_KEY = "8d2fead94aa1190f5ed3d6829503be31"
KAKAO_REST_API_KEY = "7866a3d89afcf1ae347051d1edef8fed"
