//
//  Secret.xcconfig
//  MEGABOX
//
//  Created by 고석현 on 11/6/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_NATIVE_APP_KEY = 31bbb9a72c6cf437e4e1f047b7d8b946
