//
//  Secret.xcconfig
//  MEGABOX
//
//  Created by 고석현 on 11/6/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_NATIVE_APP_KEY = 31bbb9a72c6cf437e4e1f047b7d8b946
TMDB_API_KEY = b0197340145a957070984258cc33b288
TMDB_READ_ACCESS_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiMDE5NzM0MDE0NWE5NTcwNzA5ODQyNThjYzMzYjI4OCIsIm5iZiI6MTc2Mjk1MTM0OS4xNDUsInN1YiI6IjY5MTQ4MGI1YWViZGMxOTkzZDg3NjFhMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.UlC69iJZn2cL6re0moKEITs-ffWL_aS_iCV7hRZejvw
	
