//
//  Secret.xcconfig
//  Megabox
//
//  Created by 김지우 on 11/6/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_REST_API_KEY = c89b74a1dc0cdbd52e2cffb40c474f98
KAKAO_NATIVE_APP_KEY = d05b3288853f7cb1123ff053ee364ea1
TMDB_API_KEY = 028ccf11f144eb5e36f4d5bc0e139e6e
